# Pin pytest since it does not support Python 3.6 which we still use in some
# some places
pytest==7.0.1
mock
vcrpy
pytest-testdirectory
pycodestyle
pyflakes
schema

# Pin dependencies of our dependencies since they dropped support
# for python 3.6 which we still use in some places. Try removing this from time
# to time :)
multidict==5.2.0
tomli==1.2.3