# For projects that use Waf for building: http://code.google.com/p/waf/
waf-*
.waf-*
.lock-*
build
bundle_dependencies

# Emacs temp / auto save
\#*#
*.#*
*~

# Visual Studio ignore
*.bat
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.log
VSProjects
*.pyproj