[submodule "waf"]
	path = third_party/waf
    url = https://github.com/waf-project/waf.git
    ignore = dirty
[submodule "python-semver"]
	path = third_party/python-semver
    url = https://github.com/k-bx/python-semver.git
