[submodule "third_party/python-semver"]
    path = third_party/python-semver
    url = https://github.com/k-bx/python-semver.git
    ignore = dirty
[submodule "third_party/shutilwhich"]
    path = third_party/shutilwhich
    url = https://github.com/mbr/shutilwhich.git
    ignore = dirty
[submodule "third_party/pytest"]
    path = third_party/pytest
    url = https://github.com/pytest-dev/pytest.git
    ignore = dirty
[submodule "third_party/mock"]
    path = third_party/mock
    url = https://github.com/testing-cabal/mock.git
    ignore = dirty
[submodule "third_party/py"]
    path = third_party/py
    url = https://github.com/pytest-dev/py.git
    ignore = dirty