# waf projects
waf-*
waf3-*
.waf-*
.waf3-*
.lock-*
build
build_symlinks
resolved_dependencies

# Emacs temp / auto save
\#*#
*.#*
*~

# Python
*.pyc
.cache
.tox
pytest

# Visual Studio ignore
*.bat
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.log
VSProjects
*.pyproj
